*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;
}

       <style>
/*LOGO CSS*/
.header-container.type4 .search-area .importer{margin:0px 20px 0px 0px !important;}
.header-container .top-links-area a, .header-container .welcome-msg, .rkheadercont span{color:#fff !important;}

@-webkit-keyframes cube-spin {
			from { -webkit-transform: rotateY(0); }
			to { -webkit-transform: rotateY(360deg); }
		}

		@-ms-keyframes cube-spin {
			from { ms-transform: rotateY(0); }
			to { ms-transform: rotateY(360deg); }
		}

		@keyframes cube-spin {
			from { transform: rotateY(0); }
			to { transform: rotateY(360deg); }
		}

		@-webkit-keyframes spin-vertical {
			from { -webkit-transform: rotateX(0); }
			to { -webkit-transform: rotateX(-360deg); }
		}

		@-ms-keyframes spin-vertical {
			from { ms-transform: rotateX(0); }
			to { ms-transform: rotateX(-360deg); }
		}

		@keyframes spin-vertical {
			from { transform: rotateX(0); }
			to { transform: rotateX(-360deg); }
		}

		
		/*************** STANDARD CUBE ***************/
		.cube-wrap {
			-webkit-perspective: 800px;
			-webkit-perspective-origin: 50% 100px;

			-moz-perspective: 800px;
			-moz-perspective-origin: 50% 100px;

			-ms-perspective: 800px;
			-ms-perspective-origin: 50% 100px;

			perspective: 800px;
			perspective-origin: 50% 100px;
		}

		.cube {
			position: relative;
			width: 100px;
			margin: 10px 0 0 0;
			
			-webkit-transform-style: preserve-3d;
			-webkit-animation: cube-spin 5s infinite linear;
			
			-moz-transform-style: preserve-3d;
			-moz-animation: cube-spin 5s infinite linear;

			-ms-transform-style: preserve-3d;
			-ms-animation: cube-spin 5s infinite linear;

			transform-style: preserve-3d;
			animation: cube-spin 10s infinite linear;
		}

		.cube div {
			position: absolute;
			width: 100px;
			height: 100px;
			background: rgba(255,255,255,0.1);
			/*box-shadow: inset 0 0 30px rgba(125,125,125,0.8);*/
			font-size: 20px;
			text-align: center;
			line-height: 90px;
			color: rgba(0,0,0,0.5);
			font-family: sans-serif;
			text-transform: uppercase;
		}

		/*************** DEPTH CUBE ***************/
		.depth div.back-pane {
			-webkit-transform: translateZ(-50px) rotateY(180deg);
			-moz-transform: translateZ(-50px) rotateY(180deg);
			-ms-transform: translateZ(-50px) rotateY(180deg);
			transform: translateZ(-50px) rotateY(180deg);
		}
		.depth div.right-pane {
			-webkit-transform:rotateY(-270deg) translateX(50px);
			-webkit-transform-origin: top right;

			-moz-transform:rotateY(-270deg) translateX(50px);
			-moz-transform-origin: top right;

			-ms-transform:rotateY(-270deg) translateX(50px);
			-ms-transform-origin: top right;

			transform:rotateY(-270deg) translateX(50px);
			transform-origin: top right;
		}
		.depth div.left-pane {
			-webkit-transform:rotateY(270deg) translateX(-50px);
			-webkit-transform-origin: center left;

			-moz-transform:rotateY(270deg) translateX(-50px);
			-moz-transform-origin: center left;

			-ms-transform:rotateY(270deg) translateX(-50px);
			-ms-transform-origin: center left;

			transform:rotateY(270deg) translateX(-50px);
			transform-origin: center left;
		}
		.depth div.top-pane {
			-webkit-transform:rotateX(-90deg) translateY(-100px);
			-webkit-transform-origin: top center;

			-moz-transform:rotateX(-90deg) translateY(-100px);
			-moz-transform-origin: top center;

			-ms-transform:rotateX(-90deg) translateY(-100px);
			-ms-transform-origin: top center;

			transform:rotateX(-90deg) translateY(-100px);
			transform-origin: top center;
		}
		.depth div.bottom-pane {
			-webkit-transform:rotateX(90deg) translateY(100px);
			-webkit-transform-origin: bottom center;

			-moz-transform:rotateX(90deg) translateY(100px);
			-moz-transform-origin: bottom center;

			-ms-transform:rotateX(90deg) translateY(100px);
			-ms-transform-origin: bottom center;

			transform:rotateX(90deg) translateY(100px);
			transform-origin: bottom center;
		}
		.depth div.front-pane {
			-webkit-transform: translateZ(50px);
			-moz-transform: translateZ(50px);
			-ms-transform: translateZ(50px);
			transform: translateZ(50px);
		}

/*LOGO CSS*/
</style>




<style type="text/css">
    html,
    body {
      height: 100vh;
      width: 100vh;
    }

    .my-container {
      display: flex;
      flex-direction: column;
      height: 100vh;
      width:100vh;
    }

    .my-container>.top [class^="col-"],
    .my-container>.bottom [class^="col-"] {
      background-color: #929292  ;
      color: white;
      text-align: center;
    }

    .my-container>.middle {
      flex-grow: 1;
      padding:30px;
      background-image: url('images/bg6.jpg');
      background-size: cover;
    }

    .my-container>.middle>* {
    }

    #clock{
        /*background-color:#333;*/
        font-family: sans-serif;
        font-size:40px;
        text-shadow:0px 0px 1px #fff;
        color:#fff;
    }
    #clock span {
        color:#fff;
        font-size:40px;
        position:relative;

    }
    #date {
      margin-top: -10px;
        letter-spacing:3px;
        font-size:20px;
        font-family:arial,sans-serif;
        color:#fff;
    }
  </style>











/*----image effect-------*/

/* Style the Image Used to Trigger the Modal */
#myImg {
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

#myImg:hover {opacity: 0.7;}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  padding-top: 100px; /* Location of the box */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0,0,0); /* Fallback color */
  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
}

/* Modal Content (Image) */
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}

/* Caption of Modal Image (Image Text) - Same Width as the Image */
#caption {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}

/* Add Animation - Zoom in the Modal */
.modal-content, #caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}

@keyframes zoom {
  from {transform:scale(0)}
  to {transform:scale(1)}
}

/* The Close Button */
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}

.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}

/* 100% Image Width on Smaller Screens */
@media only screen and (max-width: 700px){
  .modal-content {
    width: 100%;
  }
}




/*-----------------------------*/



/* Add a black background color to the top navigation bar */
.topnav {
  overflow: hidden;
  background-color: #e9e9e9;
}

/* Style the links inside the navigation bar */
.topnav a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

/* Change the color of links on hover */
.topnav a:hover {
  background-color: #ddd;
  color: black;
}

/* Style the "active" element to highlight the current page */
.topnav a.active {
  background-color: #2196F3;
  color: white;
}

/* Style the search box inside the navigation bar */
.topnav input[type=text] {
  float: right;
  padding: 6px;
  border: none;
  margin-top: 8px;
  margin-right: 16px;
  font-size: 17px;
}
/* When the screen is less than 600px wide, stack the links and the search field vertically instead of horizontally */
@media screen and (max-width: 600px) {
  .topnav a, .topnav input[type=text] {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .topnav input[type=text] {
    border: 1px solid #ccc;
  }
}

/*--------About us----*/



.column {
  float: left;
  width: 33.3%;
  margin-bottom: 16px;
  padding: 0 8px;
}


.card {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  margin: 8px;
}
.column img{
    border-radius: 50%;
    padding: inherit;
    
}

.about-section {
  padding: 50px;
  text-align: center;
  background-color: #fff;
  color: black;
}

.container {
  padding: 0 16px;
}

.container::after, .row::after {
  content: "";
  clear: both;
  display: table;

}

.title {
  color: grey;
}

.button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 100%;
}

.button:hover {
  background-color: #555;
}
@media screen and (max-width: 650px) {
  .column {
    width: 100%;
    display: block;
  }
}

/*--------About us end----*/

a{
    text-decoration: none;
    color: #555;
}
p{
    color: #555;
}
.header{
    background: radial-gradient(#fff,#ffd6d6);
}

.container{
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
    
    
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
    flex: 1;
    text-align: right;
}
nav ul{
    display: inline-block;
    list-style-type: none;
}
nav ul li{
    display: inline-block;
    margin-right: 20px;
}
.menu-icon{
    display: none;
    width: 28px;
    margin-left: 35px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
/*---------*/
  
}
.header .row{
    margin-top: 70px;
}
.col-2{
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img{
    max-width: 100%;
    padding: 50px 0;
}
.col-2 h1{
    font-size: 50px;
    line-height: 60px;
    margin: 50px 0;
    
}
.btn{
    display: inline-block;
    background: #ff523b;
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 30px;
    transition: background 0.5s;
}
.btn:hover{
    background: #563434;
}

/*-----------------------------*/
.categories{
    margin: 70px 0;
}

.small-container{
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.col-3{
    flex-basis: 30%;
    min-width: 250px;
    margin-bottom: 30px;
}
.col-3 img{
    width: 100%;
    
}
/*-------featured product--------------*/

.title{
    text-align: center;
    margin: 0px auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}
.title::after{
    content: '';
    background: #ff523b;
    width: 80px;
    height: 5px;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
}

.col-4{
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: transform 0.5s;
}
.col-4 img{
    width: 100%;
}
h4{
    color: #555;
    font-weight: normal;
}
.col-4 p{
    font-size: 15px;
}
.rating .fa{
    color: #ff523b;
}

.col-4:hover{
    transform: translateY(-5px);
}


/*-----------offer-------------*/
.offer{
    background: radial-gradient(#fff,#ffd6d6);
    margin-top: 80px;
    padding: 30px 0;
}
.col-2 .offer-img{
    padding: 50px;
}
small{
    color: #555;
}

/*--------------------testimonial---------------*/

.testimonial{
    padding-top: 100px;
}

.testimonial .col-3{
    text-align: center;
    padding: 40px 20px 40px;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: transform .5s;
}
.testimonial .col-3 img{
    width: 50px;
    margin-top: 20px;
    border-radius: 50%;
}
.fa.fa-quote-left{
    font-size: 34px;
    color: #ff523b;
}
.col-3 p{
    font-size: 12px;
    margin: 12px 0px;
    color: #777;
}

.testimonial .col-3 h3{
    font-weight: 600;
    color: #555;
    font-size: 16px;
}

.testimonial .col-3:hover{
    transform: translateY(-10px);
}

/*--------------- brands ------------*/

.brands{
    margin: 100px auto;
}
.col-5{
    width: 160px;
}
.col-5 img{
    width: 100%;
    cursor: pointer;
    filter: grayscale(100%);
}
.col-5 img:hover{
    filter: grayscale(0);
}
/*---------footer-------*/

.footer{
    background: #000;
    color: #8a8a8a;
    font-size: 14px;
    padding: 60px 0 20px;
}
.footer p{
    color: #8a8a8a;
}
.footer h3{
    color: #fff;
    margin-bottom: 20px;
}
.footer-col1,.footer-col2,.footer-col3,.footer-col4{
    min-width: 250px;
    margin-bottom: 20px;
}
.footer-col1{
    flex-basis: 30%;
}
.footer-col2{
    flex: 1;
    text-align: center;
}
.footer-col2 img{
    width: 180px;
    margin-bottom: 20px;
}
.footer-col3,.footer-col4{
    flex-basis: 12%;
    text-align: center;
}

.app-logo{
    margin-top: 20px;
}

.app-logo img{
    width: 140px;
}

.footer li{
    display: block;
}
.footer hr{
    border: none;
    background: #b5b5b5;
    height: 1px;
    margin:  20px 0;
}
.copyright{
    text-align: center;
    
}

/*-------media-query-for-max-width-800---------*/


@media only screen and (max-width: 800px) {

    
nav ul{
    position: absolute;
    top: 70px;
    left: 0;
    background: #333;
    width: 100%;
    overflow: hidden;
    transition: 1s;
    max-height: 0;
    transition:max-height 0.5s;
    }
    
nav ul li{
    display: block;
    margin-right: 50px;
    margin-top: 10px;
    margin-bottom: 10px;
    }
nav ul li a{
        color: #fff;
    }
    
.menu-icon{
        display: block;
        cursor: pointer;
    }
    

}
/*---------- 600 media query -------*/
@media only screen and (max-width: 600px){
    
    .row{
      text-align: center;
    }
    
    .col-1, .col-2, .col-3, .col-4{
        
        flex-basis: 100%;
    }
}

/*----------All Product page------------*/


.row-2{
    justify-content: space-between;
    margin: 100px auto 50px;
}

select{
    border: 1px solid #ff523b;
    padding: 5px;
}
select:focus{
    outline: none;
}

.page-btn{
    margin: 0 auto 80px;
}

.page-btn span{
    display: inline-block;
    border: 1px solid #ff523b;
    margin-left: 10px;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    cursor: pointer;
}
.page-btn span:hover{
    background: #ff523b;
    color: #fff;
}



/*---------product details-----------*/
.single-product{
    margin-top: 80px;
}
.single-product .col-2 img{
    padding: 0;
}
.single-product .col-2{
    padding: 20px;
}

.single-product h4{
    margin: 20px 0;
    font-size: 22px;
    font-weight: bold;
}

.single-product select{
    display: block;
    padding: 10px;
    margin-top: 20px;
}

.single-product input{
    width: 50px;
    height: 40px;
    padding-left: 10px;
    font-size: 20px;
    margin-right: 10px;
    border: 1px solid #ff523b;
}
input:focus{
    outline: none;
}

.single-product .fa{
    color: #ff523b;
    margin-left: 10px;
}
.small-img-row{
    display: flex;
    justify-content: space-between;
}
.small-img-col{
    flex-basis: 24%;
    cursor: pointer;
}


/*-------600 media query---------*/



@media only screen and (max-width: 600px){
    .single-product .row{
        text-align: left;
    }
    .single-product .col-2{
        padding: 20px 0;
    }

    .single-product h1{
        font-size: 26px;
        line-height: 22px;
    }
}

/*---------------- cart page -----------*/

.cart-page{
    margin: 80px auto;
}

table{
    width: 100%;
    border-collapse: collapse;
}

.cart-info{
    display: flex;
    flex-wrap: wrap;
}
th{
    text-align: left;
    padding: 5px;
    color: #fff;
    background: #ff523b;
    font-weight: normal;
}

td{
    padding: 10px 5px;
}
td input{
    width: 40px;
    height: 30px;
    padding: 5px;
}

td a{
    color: #ff523b;
    font-size: 12px;
}

td img{
    width: 80px;
    height: 80px;
    margin-right: 10px; 
}


.total-price{
    display: flex;
    justify-content: flex-end;
    
}
.total-price table{
    border-top: 3px solid #ff523b;
    width: 100%;
    max-width: 350px;
}
td:last-child{
    text-align: right;
}
th:last-child{
    text-align: right;
}

@media only screen and (max-width: 600px){
    .cart-info p{
        display: none;
    }
}

/*-------account page--------*/

.accout-page{
    padding: 50px 0;
    background: radial-gradient(#fff,#ffd6d6);
}

.form-container{
    background: #fff;
    width: 300px;
    height: 400px;
    position: relative;
    text-align: center;
    padding: 20px 0;
    margin: auto;
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.1);
    overflow: hidden;
}

.form-container span{
    font-weight: bold;
    padding: 0 10px;
    color: #555;
    cursor: pointer;
    width: 100px;
    display: inline-block;
}

.form-btn{
    display: inline-block;
}

#indicator{
    width: 100px;
    border: none;
    background: #ff523b;
    height: 3px;
    margin-top: 8px;
    transform: translateX(100px);
    transition: transform 1s; 
}

.form-container form{
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}

form input{
    width: 100%;
    height: 30px;
    margin: 10px 0;
    padding: 0 10px;
    border: 1px solid #ccc;
}
form input:focus{
    outline: none;
}
form .btn{
    width: 100%;
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus{
    outline: none;
}
form a{
    font-size: 12px;
}
#LoginForm{
     left: -300px;
}
#RegForm{
    left: 0;
}


/*________________________________________*/





*     { background: !important; text-align:match-parent; text-decoration-color: blue; }
html  { margin:0 !important; padding:0 !important; }
body  { background:() !important; font-size:9pt !important; padding:0 !important; margin:10px !important; }
a     { color:darkslategrey!important; }

















<<<<<<< HEAD



=======
>>>>>>> f14f62241a48924ec08c6b5510f71969af9fe4db
